@import "variables.scss";

.activity {
  &__title {
    font-family: NeueMachinaBold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 20px;
    @media(max-width: 767px) {
      font-size: 10px;
      line-height: 10px;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    &-item {
      font-family: NeueMachinaBold;
      font-size: 0.83vw;
      line-height: 0.83vw;
      letter-spacing: -0.05em;
      color: $white;
      min-height: 85px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-top: 1px solid #1E1E1E;
      padding: 0 1.25vw;
      @media(max-width: 767px) {
        min-height: 100px;
      }
    }
  }
  &__winner {
    font-family: NeueMachina;
    font-size: 1.145vw;
    line-height: 1.823vw;
    letter-spacing: -0.03em;
    color: #666666;
    margin-bottom: 0.833vw;
    @media(max-width: 767px) {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 30px;
    }
    &-user {
      margin-bottom: 0.417vw;
      @media(max-width: 767px) {
        margin-bottom: 0;
      }
    }
    &-link {
      color: $white;
      margin-right: 8px;
      text-decoration: none;
      transition: color 0.3s ease;
      @media(max-width: 767px) {
        margin-right: 0;
      }
      &:hover {
        color: $primary;
      }
    }
    &-expense {
      color: $white;
      margin-right: 24px;
    }
    &-time {
      @media(max-width: 767px) {
        display: block;
        margin-top: 8px;
        margin-bottom: 12px;
      }
    }
  }
  &-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-decoration: none;
    color: $white;
    @media(min-width: 1024px) {
      pointer-events: none;
    }
    @media(max-width: 1023px) {
      align-items: flex-start;
    }
    &__content {
      display: flex;
      flex-direction: row;
      flex-basis: calc(100% - 32px);
      max-width: calc(100% - 32px);
      align-items: center;
      text-decoration: none;
      color: $white;
      @media(max-width: 1023px) {
        align-items: flex-start;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
    &__photo {
      width: 36px;
      height: 36px;
      flex-basis: 36px;
      max-width: 36px;
      img {
        width: 100%;
      }
    }
    &__details {
      padding-left: 10px;
      flex-basis: calc(100% - 176px);
      max-width: calc(100% - 176px);
      @media(max-width: 1023px) {
        flex-basis: calc(100% - 126px);
        max-width: calc(100% - 126px);
      }
      &-event {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 15px;
        font-family: NeueMachinaBold;
      }
      &-hash {
        margin-left: 8px;
        opacity: 0.5;
        font-family: NeueMachina;
        @media(max-width: 1366px) {
          display: block;
          margin-left: 0;
          margin-top: 8px;
        }
      }
      &-date {
        display: block;
        margin-top: 8px;
        opacity: 0.4;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.05em;
        font-family: NeueMachina;
        @media(max-width: 767px) {
          font-size: 10px;
          line-height: 10px;
        }
      }
    }
    &__bid {
      flex-basis: 140px;
      max-width: 140px;
      text-align: right;
      padding-right: 16px;
      @media(max-width: 1023px) {
        flex-basis: 90px;
        max-width: 90px;
        padding-right: 0;
      }
      &-eth {
        font-family: NeueMachinaBold;
        font-size: 16px;
        line-height: 15px;
        letter-spacing: -0.05em;
        margin-top: 4px;
        margin-bottom: 8px;
        display: block;
        @media(max-width: 767px) {
          margin-top: 0;
        }
      }
      &-usd {
        font-size: 12px;
        line-height: 12px;
        font-family: NeueMachina;
        letter-spacing: -0.05em;
        color: $white;
        opacity: 0.4;
      }
    }
    &__action {
      flex-basis: 32px;
      max-width: 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      pointer-events: all;
      &-link {
        text-decoration: none;
        color: $white;
        font-size: 16px;
        line-height: 16px;
        color: #5E5E5E;
        &:hover {
          color: $primary;
        }
      }
      @media(max-width: 1023px) {
        display: none;
      }
    }
  }
}
