@import "variables.scss";

@keyframes bounce {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-20%);
  }
}

.artwork {
  &__slider {
    width: 100%;
    height: calc(100vh - 56px);
    position: relative;
    font-size: 1vw;
    line-height: 1vw;
    &:before {
      content: '';
      background-image: url('/icons/scroll.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      bottom: 3.8vh;
      left: calc(50% - 14px);
      width: 2.28vh;
      height: 3.8vh;
      animation: bounce 5s infinite;
    }
    .swiper {
      &-container {
        height: 100%;
        width: 100%;
        overflow-x: clip !important;
        overflow-y: visible !important;
      }
      &-slide {
        width: 100%;
        position: relative;
        height: 100%;
        &__wrapper {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 48%;
          height: 80%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 48%;
          display: none;
        }
      }
      &-pagination {
        top: 64px;
        right: 36px;
        bottom: auto;
        left: auto;
        &:before {
          content: attr(data-title);
        }
      }
    }
    &-creations {
      position: absolute;
      top: 64px;
      right: 160px;
      font-family: NeueMachina;
      font-size: 22px;
      line-height: 21px;
      letter-spacing: -0.04em;
      color: #2E2E2E;
      z-index: 1;
    }
    &-nav {
      position: absolute;
      top: 100px;
      right: 36px;
      color: $white;
      display: flex;
      flex-direction: row;
      z-index: 1;
      width: 124px;
      justify-content: space-between;
      @media(max-width: 767px) {
        position: absolute;
        bottom: 0;
        right: 44px;
        left: 44px;
        justify-content: space-between;
        z-index: 1;
      }
      &-btn {
        background: transparent;
        border-radius: 50%;
        width: 54px;
        height: 54px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid #474747;
        cursor: pointer;
        @media(max-width: 1023px) {
          width: 36px;
          height: 36px;
        }
      }
    }
    &-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 9vw;
      line-height: 8.8vw;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      text-shadow: 0px 0px 1px $white;
      color: $black;
    }
    &-info {
      position: absolute;
      top: 36px;
      left: 36px;
      max-width: 33.3333vw;
      z-index: 1;
    }
    &-name {
      font-family: NeueMachinaBold;
      font-size: 2.1em;
      line-height: 1em;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $white;
      margin: 0 0 12px;
    }
    &-description {
      font-family: NeueMachina;
      font-size: 1.15em;
      line-height: 1.59em;
      letter-spacing: -0.03em;
      color: $white;
      margin-bottom: 12px;
    }
    &-price {
      position: absolute;
      bottom: 100px;
      right: 36px;
      text-align: right;
      margin-bottom: 50px;
      z-index: 1;
      &--active {
        margin-bottom: 0;
      }
      &-title {
        font-family: NeueMachina;
        font-size: 40px;
        line-height: 39px;
        letter-spacing: -0.05em;
        color: $white;
        margin-bottom: 22px;
      }
      &-value {
        font-family: NeueMachinaBold;
        font-size: 80px;
        line-height: 77px;
        letter-spacing: -0.05em;
        color: $white;
      }
    }
    &-auction {
      position: absolute;
      bottom: 216px;
      left: 36px;
      z-index: 1;
      transform: translateY(50%);
      &-title {
        font-family: NeueMachina;
        font-size: 40px;
        line-height: 39px;
        letter-spacing: -0.05em;
        color: $white;
        margin-bottom: 16px;
      }
    }
  }
  &__grid {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    @media(max-width: 767px) {
      flex-wrap: wrap;
    }
    &:before {
      content: '';
      position: absolute;
      top: 30px;
      left: calc(50% - 15px);
      right: calc(50% - 15px);
      border-bottom: 1px solid $border;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &-column {
      padding: 15px;
      flex: 1 0 50%;
      max-width: 50%;
      position: relative;
      @media(max-width: 767px) {
        flex: 1 0 100%;
        max-width: 100%;
      }
      &:before {
        content: '';
        border-left: 1px solid $border;
        position: absolute;
        top: -15px;
        left: 15px;
        bottom: -15px;
      }
      &:after {
        content: '';
        border-right: 1px solid $border;
        position: absolute;
        top: -15px;
        right: 15px;
        bottom: -15px;
      }
    }
    &-column:nth-child(2n) & {
      &-cell {
        &:before {
          content: '';
          border-top: 1px solid $border;
          position: absolute;
          top: 0;
          right: -30px;
          left: 0;
          @media(max-width: 767px) {
            left: -30px;
          }
        }
        &:after {
          content: '';
          border-bottom: 1px solid $border;
          position: absolute;
          bottom: 0;
          right: -30px;
          left: 0;
          @media(max-width: 767px) {
            left: -30px;
          }
        }
      }
    }
    &-column:nth-child(2n + 1) & {
      &-cell {
        &:before {
          content: '';
          border-top: 1px solid $border;
          position: absolute;
          top: 0;
          left: -30px;
          right: 0;
          @media(max-width: 767px) {
            right: -30px;
          }
        }
        &:after {
          content: '';
          border-bottom: 1px solid $border;
          position: absolute;
          bottom: 0;
          left: -30px;
          right: 0;
          @media(max-width: 767px) {
            right: -30px;
          }
        }
      }
    }
    &-cell {
      padding: 30px 20px;
      margin-bottom: 30px;
      position: relative;
      &:last-child:after {
        display: none;
        @media(max-width: 767px) {
          display: block;
        }
      }
    }
  }
}

.meta {
  &__title {
    font-family: NeueMachinaBold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 20px;
  }
  &__content {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 0.833vw;
    line-height: 1.51vw;
    letter-spacing: -0.05em;
    color: $white;
    border-top: 1px solid #1E1E1E;
    padding-top: 1.36vw;
  }
}
