@import "variables.scss";

@keyframes bounce {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-20%);
  }
}

.artwork {
  &__slider {
    width: 100%;
    height: calc(100vh - 56px);
    position: relative;
    font-size: 1vw;
    line-height: 1vw;
    &:before {
      content: '';
      background-image: url('/scroll.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      bottom: 3.8vh;
      left: calc(50% - 0.74vw + 1px);
      width: 1.48vw;
      height: 2.39vw;
      animation: bounce 5s infinite;
      @media(max-width: 1023px) {
        left: calc(50% - 8px);
        width: 18px;
        height: 28px;
      }
    }
    @media(max-width: 767px) {
      height: auto;
      padding-bottom: 220px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        top: 50vw;
        bottom: 0;
        border-left: 1px solid $border;
        background: none;
        width: 0;
        height: auto;
        animation: none;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 15px;
        top: 50vw;
        bottom: 0;
        border-left: 1px solid $border;
      }
    }
    .swiper {
      &-container {
        height: 100%;
        width: 100%;
        overflow-x: clip !important;
        overflow-y: visible !important;
        @media(max-width: 767px) {
          height: auto;
          position: static;
        }
      }
      &-slide {
        width: 100%;
        position: relative;
        height: 100%;
        @media(max-width: 767px) {
          height: auto;
          padding-top: 100%;
        }
        &__wrapper {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 48%;
          height: 80%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          @media(max-width: 1023px) {
            width: 70%;
          }
          @media(max-width: 767px) {
            width: calc(100% - 32px);
            height: 100%;
          }
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 48%;
          display: none;
        }
      }
      .artwork &-pagination {
        top: 64px;
        right: 36px;
        bottom: auto;
        left: auto;
        @media(max-width: 767px) {
          display: block;
          bottom: 124px;
          top: auto;
          left: 100px;
          right: 100px;
          text-align: center;
        }
      }
    }
    &-creations {
      position: absolute;
      top: 64px;
      right: 160px;
      font-family: NeueMachina;
      font-size: 22px;
      line-height: 21px;
      letter-spacing: -0.04em;
      color: #2E2E2E;
      z-index: 1;
      @media(max-width: 767px) {
        bottom: 144px;
        top: auto;
        left: 100px;
        right: 100px;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
      }
    }
    &-nav {
      position: absolute;
      top: 100px;
      right: 36px;
      color: $white;
      display: flex;
      flex-direction: row;
      z-index: 1;
      width: 124px;
      justify-content: space-between;
      @media(max-width: 1023px) {
        width: 88px;
      }
      @media(max-width: 767px) {
        position: absolute;
        bottom: 122px;
        right: 44px;
        left: 44px;
        width: auto;
        top: auto;
        justify-content: space-between;
        z-index: 1;
      }
      &-btn {
        background: transparent;
        border-radius: 50%;
        width: 54px;
        height: 54px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid #474747;
        cursor: pointer;
        color: $white;
        @media(max-width: 1023px) {
          width: 36px;
          height: 36px;
        }
      }
    }
    &-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 9vw;
      line-height: 8.8vw;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      text-shadow: 0px 0px 1px $white;
      font-family: NeueMachinaBold;
      color: $black;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &-info {
      position: absolute;
      top: 36px;
      left: 36px;
      max-width: 33.3333vw;
      z-index: 1;
      @media(max-width: 767px) {
        position: static;
        max-width: none;
        width: 100%;
        padding: 20px 16px 0;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 1px;
          background-color: $border;
          height: calc(100vw + 20px);
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 174px;
          left: 50%;
          transform: translateX(-50%);
          width: 1px;
          background-color: $border;
          height: 40px;
        }
      }
    }
    &-badge {
      &--mobile {
        display: none;
        @media(max-width: 767px) {
          display: block;
        }
      }
      &--desktop {
        @media(max-width: 767px) {
          display: none;
        }
      }
      @media(max-width: 767px) {
        &-creator {
          &-photo {
            height: 44px;
            width: 44px;
            display: block;
            margin: 0 auto 24px;
            img {
              width: 100%;
            }
          }
          &-info {
            text-align: center;
          }
          &-title {
            display: block;
            font-size: 10px;
            line-height: 10px;
            opacity: 0.4;
            color: $white;
            margin-bottom: 4px;
          }
          &-link {
            font-size: 14px;
            line-height: 14px;
            text-decoration: none;
            color: $white;
            margin-bottom: 12px;
            display: inline-block;
          }
        }
      }
    }
    &-name {
      font-family: NeueMachinaBold;
      font-size: 2.1em;
      line-height: 1em;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $white;
      margin: 0 0 12px;
      @media(max-width: 767px) {
        font-size: 32px;
        line-height: 31px;
        text-align: center;
        margin: 0;
      }
    }
    &-description {
      font-family: NeueMachina;
      font-size: 1.15em;
      line-height: 1.59em;
      letter-spacing: -0.03em;
      color: $white;
      margin-bottom: 12px;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &-price {
      position: absolute;
      bottom: 100px;
      right: 36px;
      text-align: right;
      margin-bottom: 50px;
      z-index: 1;
      @media(max-width: 1919px) {
        bottom: 48px;
      }
      @media(max-width: 767px) {
        bottom: 0;
        right: auto;
        height: 88px;
        width: 100%;
        padding: 20px 0;
        border-top: 1px solid $border;
        margin-bottom: 0;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 15px;
          top: 0;
          bottom: 0;
          border-left: 1px solid $border;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 15px;
          top: 0;
          bottom: 0;
          border-left: 1px solid $border;
        }
      }
      &--active {
        margin-bottom: 0;
      }
      &--active &-title {
        display: none;
        @media(max-width: 767px) {
          display: block;
        }
      }
      &-title {
        font-family: NeueMachina;
        font-size: 40px;
        line-height: 39px;
        letter-spacing: -0.05em;
        color: $white;
        margin-bottom: 22px;
        @media(max-width: 767px) {
          font-size: 14px;
          line-height: 14px;
          text-align: center;
          margin-bottom: 12px;
          opacity: 0.4;
        }
      }
      &-value {
        font-family: NeueMachinaBold;
        font-size: 80px;
        line-height: 77px;
        letter-spacing: -0.05em;
        color: $white;
        @media(max-width: 1919px) {
          font-size: 54px;
          line-height: 51px;
        }
        @media(max-width: 767px) {
          font-size: 24px;
          line-height: 23px;
          text-align: center;
          letter-spacing: -0.04em;
          color: $primary;
        }
      }
      &-btn {
        @media(max-width: 1919px) {
          font-size: 2.17vw;
          line-height: 2.61vw;
          height: 3.41vw;
          padding: 0.5vw 1.45vw;
        }
        @media(max-width: 767px) {
          display: none;
        }
      }
    }
    &-auction {
      position: absolute;
      bottom: 216px;
      left: 36px;
      z-index: 1;
      transform: translateY(50%);
      @media(max-width: 1919px) {
        bottom: 48px;
        transform: none;
      }
      @media(max-width: 767px) {
        display: none;
      }
      &-title {
        font-family: NeueMachina;
        font-size: 40px;
        line-height: 39px;
        letter-spacing: -0.05em;
        color: $white;
        margin-bottom: 16px;
        @media(max-width: 1365px) {
          font-size: 27px;
          line-height: 26px;
        }
      }
    }
  }
  &__grid {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    @media(max-width: 767px) {
      flex-wrap: wrap;
      overflow: hidden;
      padding: 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 30px;
      left: calc(50% - 15px);
      right: calc(50% - 15px);
      border-bottom: 1px solid $border;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &-column {
      padding: 15px;
      flex: 1 0 50%;
      max-width: 50%;
      position: relative;
      @media(max-width: 767px) {
        flex: 1 0 100%;
        max-width: 100%;
        &:nth-child(n + 2) {
          padding-top: 0;
        }
      }
      &:before {
        content: '';
        border-left: 1px solid $border;
        position: absolute;
        top: -15px;
        left: 15px;
        bottom: -15px;
      }
      &:after {
        content: '';
        border-right: 1px solid $border;
        position: absolute;
        top: -15px;
        right: 15px;
        bottom: -15px;
      }
    }
    &-column:nth-child(2n) & {
      &-cell {
        &:before {
          content: '';
          border-top: 1px solid $border;
          position: absolute;
          top: 0;
          right: -30px;
          left: 0;
          @media(max-width: 767px) {
            left: -30px;
          }
        }
        &:after {
          content: '';
          border-bottom: 1px solid $border;
          position: absolute;
          bottom: 0;
          right: -30px;
          left: 0;
          @media(max-width: 767px) {
            left: -30px;
          }
        }
      }
    }
    &-column:nth-child(2n + 1) & {
      &-cell {
        &:before {
          content: '';
          border-top: 1px solid $border;
          position: absolute;
          top: 0;
          left: -30px;
          right: 0;
          @media(max-width: 767px) {
            right: -30px;
          }
        }
        &:after {
          content: '';
          border-bottom: 1px solid $border;
          position: absolute;
          bottom: 0;
          left: -30px;
          right: 0;
          @media(max-width: 767px) {
            right: -30px;
          }
        }
      }
    }
    &-cell {
      padding: 30px 20px;
      margin-bottom: 30px;
      position: relative;
      @media(max-width: 767px) {
        padding: 20px 15px;
        margin-bottom: 15px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:last-child:after {
        display: none;
        @media(max-width: 767px) {
          display: block;
        }
      }
    }
  }
}

.meta {
  &__title {
    font-family: NeueMachinaBold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 20px;
    @media(max-width: 767px) {
      font-size: 10px;
      line-height: 10px;
    }
  }
  &__content {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 0.833vw;
    line-height: 1.51vw;
    letter-spacing: -0.05em;
    color: $white;
    border-top: 1px solid #1E1E1E;
    padding-top: 1.36vw;
    word-break: break-all;
    @media(max-width: 767px) {
      font-size: 12px;
      line-height: 26px;
    }
  }
}
