@import "variables.scss";

.connect {
  &__header {
    text-align: center;
    padding: 4.16vw 24px 5.21vw;
    max-width: 940px;
    margin: 0 auto;
    @media(max-width: 1023px) {
      padding: 48px 24px;
    }
    @media(max-width: 1023px) {
      padding: 32px 24px;
    }
  }
  &__label {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 300;
    color: $primary;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 88px;
    letter-spacing: -0.02em;
    margin-bottom: 12px;
    @media(max-width: 1023px) {
      font-size: 24px;
      line-height: 40px;
    }
    @media(max-width: 1023px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__title {
    font-family: NeueMachinaBold;
    font-size: 64px;
    line-height: 58px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 24px;
    @media(max-width: 1023px) {
      font-size: 48px;
      line-height: 58px;
    }
    @media(max-width: 1023px) {
      font-size: 40px;
      line-height: 48px;
    }
  }
  &__text {
    font-family: NeueMachina;
    font-size: 34px;
    line-height: 58px;
    letter-spacing: -0.02em;
    color: #6A6A6A;
    @media(max-width: 1023px) {
      font-size: 28px;
      line-height: 40px;
    }
    @media(max-width: 1023px) {
      font-size: 20px;
      line-height: 32px;
    }
  }
  &__grid {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    padding: 0 24px;
    flex-wrap: wrap;
    @media(max-width: 1023px) {
      padding-bottom: 48px;
    }
  }
  &__wallet {
    flex: 1 0 calc(25% - 20px);
    margin: 0 10px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    border: 1px solid $border;
    text-decoration: none;
    cursor: pointer;
    @media(max-width: 1023px) {
      flex: 1 0 100%;
      margin: 12px 0;
    }
    &:hover {
      border-color: transparent;
    }
    &-icons {
      display: flex;
      flex-direction: row;
      margin-bottom: 32px;
      .icon {
        width: 24px;
      }
    }
    &-name {
      font-family: NeueMachinaBold;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.06em;
      color: $white;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    &-text {
      font-family: IBM Plex Mono;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 23px;
      color: $white;
      opacity: 0.7;
    }
  }
}
