@import "variables";

.dropdown {
  position: relative;
  &__link {
    background-color: transparent;
    border: none;
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
  &__list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $black;
    border-radius: 15px;
    &-item {
      // margin-top: 12px;
    }
  }
}
