@import 'variables';

.explore {
  width: 100%;
  overflow: hidden;
  &__form {
    border-bottom: 1px solid $border;
    padding: 40px 0 8px;
    @media(max-width: 767px) {
      padding: 24px 0 8px;
    }
    &-title {
      font-family: NeueMachinaBold;
      font-size: 16px;
      line-height: 15px;
      letter-spacing: 0.06em;
      color: $white;
      margin-bottom: 16px;
      text-transform: uppercase;
      @media(max-width: 767px) {
        margin-bottom: 24px;
      }
    }
    &-field {
      border-bottom: 1px solid $border;
      position: relative;
      padding-left: 68px;
      margin-bottom: 24px;
      @media(max-width: 1365px) {
        padding-left: 48px;
      }
      @media(max-width: 767px) {
        padding-bottom: 24px;
        margin: 0;
        border: none;
      }
      &-icon {
        position: absolute;
        top: 0;
        left: 0;
        color: #00FF00;
        font-size: 56px;
        line-height: 82px;
        @media(max-width: 1365px) {
          font-size: 40px;
          line-height: 40px;
        }
        @media(max-width: 767px) {
          font-size: 44px;
          line-height: 40px;
        }
      }
    }
    &-input {
      font-family: NeueMachinaBold;
      font-size: 72px;
      line-height: 98px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $white;
      background-color: transparent;
      border: none;
      max-width: 100%;
      @media(max-width: 1365px) {
        font-size: 48px;
        line-height: 48px;
      }
      @media(max-width: 767px) {
        font-size: 42px;
        line-height: 42px;
      }
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: $white;
        opacity: 0.1;
      }
    }
    &-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &-filter {
      margin-right: 16px;
      margin-bottom: 16px;
      @media(max-width: 1023px) {
        margin-right: 12px;
      }
      @media(max-width: 767px) {
        margin-right: 0;
        width: 100%;
      }
    }
    &-tags {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 16px;
      @media(max-width: 767px) {
        flex-direction: column;
        width: 100%;
      }
      &-label {
        text-transform: uppercase;
        font-family: NeueMachinaBold;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.06em;
        margin-right: 16px;
        @media(max-width: 1023px) {
          margin-right: 12px;
        }
        @media(max-width: 767px) {
          margin-right: 0;
          margin-bottom: 12px;
        }
      }
      &-list {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      &-link {
        border: 1px solid $border;
        border-radius: 200px;
        color: $white;
        padding: 8px 24px 6px;
        text-transform: uppercase;
        font-family: NeueMachinaBold;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.06em;
        text-decoration: none;
        margin-right: 16px;
        @media(max-width: 1023px) {
          padding: 8px 16px 6px;
          margin-right: 12px;
        }
      }
    }
  }
  &__artists {
    font-family: NeueMachinaBold;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.06em;
    color: $white;
  }
  &__title {
    margin: 32px 0;
    @media(max-width: 767px) {
      margin: 32px 0 8px;
    }
  }
  &__toggle {
    margin: 16px 0 64px;
    @media(max-width: 1365px) {
      margin-bottom: 48px;
    }
    &-btn {
      border: 1px solid #383838;
      background-color: $black;
      padding: 8px 24px;
      text-transform: uppercase;
      color: $white;
      border-radius: 200px;
      font-family: NeueMachinaBold;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.06em;
      cursor: pointer;
    }
  }
  &__creators {
    padding-top: 80px;
    @media(max-width: 1365px) {
      padding-top: 48px;
    }
    &-list {
      padding: 0;
      margin: 24px 0 0;
      list-style: none;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-family: NeueMachina;
      font-size: 58px;
      line-height: 94px;
      letter-spacing: -0.03em;
      color: #8F8F8F;
      @media(max-width: 1365px) {
        font-size: 32px;
        line-height: 54px;
      }
      @media(max-width: 1023px) {
        -webkit-line-clamp: 4;
      }
      @media(max-width: 767px) {
        -webkit-line-clamp: 9;
        font-size: 28px;
        line-height: 44px;
      }
    }
    &-item {
      display: inline;
    }
    &-link {
      text-decoration: none;
      color: $white;
      font-family: NeueMachina;
      font-size: 58px;
      line-height: 94px;
      letter-spacing: -0.03em;
      color: #8F8F8F;
      @media(max-width: 1365px) {
        font-size: 32px;
        line-height: 54px;
      }
      @media(max-width: 767px) {
        font-size: 28px;
        line-height: 44px;
      }
      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
    &-comma {
      margin-right: 8px;
    }
  }
  &__artworks {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    position: relative;
    .swiper-container {
      overflow-x: clip;
      overflow-y: visible;
    }
    &:after {
      content: '';
      bottom: 32px;
      right: 0;
      left: 0;
      display: block;
      position: absolute;
      border-bottom: 1px solid $border;
      @media(max-width: 1365px) {
        bottom: 16px;
      }
      @media(max-width: 767px) {
        bottom: 68px;
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      padding: 0 48px 48px;
      margin-bottom: 32px;
      position: relative;
      @media(max-width: 1365px) {
        padding: 0 24px 24px;
        margin-bottom: 16px;
      }
      @media(max-width: 767px) {
        padding: 0 12px 12px;
        margin-bottom: 12px;
      }
      &:before {
        content: '';
        bottom: -32px;
        left: -1px;
        top: 0;
        display: block;
        position: absolute;
        border-left: 1px solid $border;
        .swiper-slide-active & {
          left: 0;
        }
        @media(max-width: 1365px) {
          bottom: -16px;
        }
        @media(max-width: 767px) {
          display: none;
        }
      }
      &:after {
        content: '';
        bottom: -32px;
        right: 0;
        top: 0;
        display: block;
        position: absolute;
        border-right: 1px solid $border;
        @media(max-width: 1365px) {
          bottom: -16px;
        }
        @media(max-width: 767px) {
          display: none;
        }
      }
      &-header {
        display: flex;
        flex-direction: row;
        padding: 24px 0;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 1365px) {
          padding: 12px 0;
        }
      }
      &-avatar {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        overflow: hidden;
        @media(max-width: 1365px) {
          height: 36px;
          width: 36px;
        }
        img {
          width: 100%;
          display: block;
        }
      }
      &-user {
        margin-left: 8px;
        margin-right: auto;
      }
      &-name {
        font-family: NeueMachinaBold;
        font-size: 24px;
        line-height: 23px;
        letter-spacing: -0.02em;
        text-transform: capitalize;
        color: $white;
        text-decoration: none;
        margin-bottom: 4px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media(max-width: 1365px) {
          font-family: NeueMachinaBold;
          font-size: 14px;
          line-height: 13px;
        }
      }
      &-artworks {
        font-family: NeueMachina;
        font-size: 14px;
        line-height: 14px;
        color: #C4C4C4;
        @media(max-width: 1365px) {
          font-size: 10px;
          line-height: 10px;
        }
      }
      &-btn {
        background-color: #272727;
        color: $white;
        font-family: NeueMachinaBold;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.06em;
        cursor: pointer;
        border: none;
        border-radius: 200px;
        text-transform: uppercase;
        padding: 8px 20px;
        margin-bottom: 16px;
        @media(max-width: 1365px) {
          font-size: 10px;
          line-height: 10px;
          padding: 8px 12px;
          margin-bottom: 0;
        }
        &--following {
          pointer-events: none;
          padding: 8px;
          font-size: 16px;
        }
      }
      &-link {
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        padding-top: 100%;
        img {
          display: none;
        }
      }
      &-drag {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
  &__popular {
    &-title {
      font-family: NeueMachinaBold;
      font-size: 72px;
      line-height: 72px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 12px;
      @media(max-width: 1365px) {
        font-size: 48px;
        line-height: 48px;
      }
      @media(max-width: 767px) {
        font-size: 28px;
        line-height: 28px;
      }
    }
    &-list {
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;
      position: relative;
      @media(max-width: 767px) {
        border: none;
      }
      &:before {
        content: '';
        bottom: 0;
        left: 36px;
        top: 0;
        display: block;
        position: absolute;
        border-left: 1px solid $border;
        @media(max-width: 767px) {
          display: none;
        }
      }
      &:after {
        content: '';
        bottom: 0;
        right: 36px;
        top: 0;
        display: block;
        position: absolute;
        border-right: 1px solid $border;
        @media(max-width: 767px) {
          display: none;
        }
      }
    }
    &-item {
      display: flex;
      flex-direction: row;
      @media(max-width: 767px) {
        flex-direction: column;
      }
      &-wrapper {
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        margin: 36px 0;
        position: relative;
        @media(max-width: 1365px) {
          margin: 24px 0;
        }
        @media(max-width: 767px) {
          border: none;
        }
        &:before {
          content: '';
          left: calc(25% + 18px);
          top: -36px;
          bottom: -36px;
          position: absolute;
          border-left: 1px solid $border;
          @media(max-width: 1365px) {
            left: calc(33.3333% + 12px);
            top: -24px;
            bottom: -24px;
          }
          @media(max-width: 767px) {
            display: none;
          }
        }
      }
    }
    &-author {
      flex: 1 0 25%;
      max-width: 25%;
      @media(max-width: 1365px) {
        flex: 1 0 33.3333%;
        max-width: 33.3333%;
      }
      @media(max-width: 767px) {
        flex: 1 0 100%;
        max-width: 100%;
      }
    }
    &-works {
      flex: 1 0 75%;
      max-width: 75%;
      @media(max-width: 1365px) {
        flex: 1 0 66.6667%;
        max-width: 66.6667%;
      }
      @media(max-width: 1023px) {
        padding: 0 12px;
      }
      @media(max-width: 767px) {
        flex: 1 0 100%;
        max-width: 100%;
        padding: 0;
      }
    }
    &-artwork {
      padding: 36px 18px;
      position: relative;
      @media(max-width: 1365px) {
        padding: 24px 12px;
      }
      @media(max-width: 767px) {
        padding: 0;
      }
      &-link {
        display: block;
        text-decoration: none;
        @media(max-width: 767px) {
          text-align: center;
        }
      }
      &-image {
        display: block;
        padding-top: 100%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin-bottom: 32px;
        @media(max-width: 1365px) {
          margin-bottom: 16px;
        }
        img {
          display: none;
        }
      }
      &-name {
        display: block;
        font-family: NeueMachinaBold;
        font-size: 34px;
        line-height: 33px;
        letter-spacing: -0.02em;
        text-transform: capitalize;
        color: $white;
        margin-bottom: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media(max-width: 1365px) {
          font-size: 24px;
          line-height: 23px;
          margin-bottom: 8px;
        }
      }
      &-price {
        display: block;
        font-family: NeueMachinaUltraLight;
        font-size: 20px;
        line-height: 19px;
        letter-spacing: -0.05em;
        color: $white;
        opacity: 0.5;
        @media(min-width: 768px) and (max-width: 1365px) {
          font-size: 16px;
          line-height: 15px;
        }
      }
      &-drag {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
  &__tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 80px 0;
    width: 100%;
    position: relative;
    @media(max-width: 767px) {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -18px;
        right: -18px;
        height: 16px;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -18px;
        right: -18px;
        height: 16px;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
      }
    }
    @media(max-width: 1365px) {
      padding: 48px 0;
    }
    @media(max-width: 1023px) {
      flex-direction: column;
    }
    &-col {
      flex: 1 0 50%;
      max-width: 50%;
      @media(max-width: 1023px) {
        flex: 1 0 100%;
        max-width: 100%;
      }
    }
    &-title {
      font-family: NeueMachinaBold;
      font-size: 72px;
      line-height: 72px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 12px;
      @media(max-width: 1365px) {
        font-size: 48px;
        line-height: 48px;
      }
      @media(max-width: 767px) {
        font-size: 28px;
        line-height: 28px;
      }
    }
    &-subtitle {
      font-family: NeueMachinaBold;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.06em;
      color: $white;
      margin-bottom: 16px;
      @media(max-width: 1023px) {
        display: none;
      }
    }
    &-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @media(max-width: 1023px) {
        margin-top: 24px;
      }
    }
    &-link {
      text-decoration: none;
      font-family: NeueMachina;
      font-size: 34px;
      line-height: 56px;
      letter-spacing: -0.03em;
      color: #4E4E4E;
      margin-right: 12px;
      @media(max-width: 1365px) {
        font-size: 24px;
        line-height: 36px;
      }
      @media(max-width: 767px) {
        font-size: 28px;
        line-height: 44px;
      }
      &:hover {
        color: $primary;
      }
    }
  }
  &__slider {
    &-nav {
      width: 100%;
      padding: 16px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media(min-width: 768px) {
        display: none;
      }
      &-btn {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $border;
        color: $white;
        font-size: 8px;
      }
    }
    &-pagination {
      display: flex;
      flex-direction: row;
      width: 66.4%;
      align-items: center;
      justify-content: center;
      .swiper-pagination-bullet {
        flex: 1 0 auto;
        border-radius: none;
        height: 1px;
        background-color: $white;
        &-active {
          background-color: $primary;
        }
      }
    }
  }
  &__alphabet {
    display: flex;
    flex-direction: row;
    padding: 72px 16px 64px;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    margin: 0;
    list-style: none;
    &-col {
      flex: 1 0;
    }
    &-wrapper {
      border-top: 1px solid $border;
    }
    @media(max-width: 767px) {
      padding: 0 0 64px;
      border: none;
    }
    &-item {
      position: relative;
      padding-left: 80px;
      margin-bottom: 16px;
      @media(max-width: 767px) {
        padding: 0;
        margin-bottom: 16px;
        &[data-letter] {
          padding-top: 64px;
        }
      }
      &:before {
        content: attr(data-letter);
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
        color: $primary;
        font-family: NeueMachinaBold;
        font-size: 22px;
        line-height: 21px;
        letter-spacing: 0.26em;
        @media(max-width: 767px) {
          left: 0;
          top: 24px;
          transform: none;
        }
      }
      &-link {
        font-family: NeueMachina;
        font-size: 22px;
        line-height: 21px;
        color: $white;
        opacity: 0.4;
        transition: opacity 0.3s ease;
        text-decoration: none;
        position: relative;
        padding-right: 10px;
        &:hover {
          font-family: NeueMachinaBold;
          opacity: 1;
          padding-right: 0;
        }
      }
      &-link:hover &-img {
        display: block;
        .touch & {
          display: none;
        }
      }
      &-img {
        display: none;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 30%;
        transform: translateY(-50%);
        z-index: 0;
        opacity: 0.4;
      }
    }
  }
  &__drag {
    font-family: NeueMachinaBold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: $black;
    text-transform: uppercase;
    display: block;
    height: 60px;
    width: 60px;
    background-color: $primary;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media(max-width: 767px) {
      display: none;
    }
  }
}
