@import 'variables';

.form {
  &__group {
    margin-bottom: 24px;
    position: relative;
    @media(max-width: 767px) {
      &--image {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        margin: 0;
      }
      &--preview {
        margin: 16px 0 0;
      }
    }
    &--royalty {
      position: relative;
      &:after {
        content: '%';
        position: absolute;
        top: 50px;
        right: 16px;
        font-size: 12px;
        font-family: NeueMachinaUltraLight;
        color: $white;
        opacity: 0.6;
        pointer-events: none;
      }
    }
    &--unlockable {
      background-color: #0D0D0D;
      padding: 32px 24px;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      @media(max-width: 767px) {
        padding: 20px 16px;
      }
    }
    &--unlockable & {
      &-heading {
        color: $primary;
        margin-bottom: 8px;
        @media(max-width: 767px) {
          margin-bottom: 0;
        }
      }
      &-text {
        font-family: NeueMachinaUltraLight;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.03em;
        color: #C4C4C4;
        @media(max-width: 767px) {
          display: none;
        }
      }
      &-icon {
        width: 42px;
        height: 42px;
        font-size: 42px;
        color: $primary;
        @media(max-width: 767px) {
          width: 32px;
          height: 32px;
          font-size: 32px;
        }
      }
      &-checkbox {
        position: static;
      }
    }
    &--tags, &--royalty {
      padding-bottom: 64px;
      margin-bottom: 0;
      @media(max-width: 767px) {
        padding-bottom: 128px;
      }
    }

    &-sale {
      margin-bottom: 0;
    }
    &-heading {
      font-family: NeueMachinaBold;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.06em;
      color: $white;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    &-error {
      margin-top: 16px;
      font-family: NeueMachinaUltraLight;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.06em;
      color: $error;
    }
    &-checkbox {
      position: absolute;
      right: 0;
      top: 0;
    }
    &-sale-type {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      margin: 24px -8px;
      @media(max-width: 767px) {
        flex-wrap: wrap;
        margin: 24px 0 12px;
      }
      &-item {
        flex: 1 0 calc(33.3333% - 16px);
        max-width: calc(33.3333% - 16px);
        margin: 0 8px;
        background-color: #141414;
        border: 1px solid #141414;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px;
        cursor: pointer;
        @media(max-width: 767px) {
          flex: 1 0 100%;
          max-width: 100%;
          margin: 0 0 12px;
        }
        &--active {
          border: 1px solid $primary;
        }
        input {
          display: none;
        }
        .icon {
          font-size: 28px;
          margin-bottom: 32px;
          opacity: 0.4;
        }
        span {
          font-family: NeueMachinaBold;
          font-size: 12px;
          line-height: 12px;
          letter-spacing: 0.06em;
          color: $white;
          text-transform: uppercase;
        }
      }
    }
    &-row {
      display: flex;
      flex-direction: row;
    }
    &-note {
      font-family: NeueMachinaBold;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.06em;
      color: $white;
      margin-top: 16px;
      & + & {
        margin-top: 12px;
      }
      &-value {
        color: $primary;
      }
    }
    &-unlockable-text {
      margin-right: auto;
      margin-left: 24px;
      @media(max-width: 767px) {
        margin-left: 16px;
      }
    }
  }
  &__field {
    background-color: #141414;
    border: 1px solid #141414;
    padding: 12px 20px;
    font-family: NeueMachinaUltraLight;
    color: $white;
    width: 100%;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type=number] {
      -moz-appearance: textfield;
    }
    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
    &--error {
      border: 1px solid $error;
    }
    &-textarea {
      min-height: 124px;
      max-width: 100%;
      min-width: 100%;
    }
    &-select {
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      ::-ms-expand {
        display: none;
      }
      &-container {
        position: relative;
        .icon {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 12px;
          line-height: 39px;
          cursor: pointer;
          pointer-events: none;
        }
      }
      &--currency {
        width: 100px;
      }
    }
  }
  &__dropzone {
    padding: 24px 20px;
    background-color: transparent;
    border: 1px dashed $border;
    font-family: NeueMachinaBold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.06em;
    cursor: pointer;
    @media(max-width: 767px) {
      &--artwork {
        flex: 1 0 auto;
        align-items: center;
        display: flex;
        padding: 16px 20px;
        justify-content: center;
      }
    }
    &--error {
      border: 1px solid $error;
    }
    .icon {
      font-size: 36px;
      line-height: 39px;
      margin-right: 32px;
    }
    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;
      margin: 0;
    }
  }
  &__preview {
    width: 100%;
    img {
      width: 100%;
    }
  }
  &__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    &-item {
      border: 1px solid $border;
      border-radius: 200px;
      margin-bottom: 12px;
      margin-right: 12px;
      padding: 6px 32px 6px 20px;
      position: relative;
    }
    &-item--empty + &-add {
      display: none;
    }
    &-field {
      background-color: transparent;
      color: $white;
      border: none;
      text-transform: uppercase;
      font-family: NeueMachinaBold;
      font-size: 12px;
      line-height: 12px;
      padding: 0;
      letter-spacing: 0.06em;
      &:-webkit-autofill {
        -webkit-text-fill-color: $white !important;
        -webkit-box-shadow: 0 0 0px 1000px $black inset;
      }
      &:focus {
        outline: none;
        color: $primary;
      }
    }
    &-btn {
      border: none;
      background-color: transparent;
      color: $border;
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translateY(-50%);
      font-size: 10px;
      line-height: 4px;
      cursor: pointer;
    }
    &-field ~ &-btn--save {
      display: none;
    }
    &-field:focus ~ &-btn--save {
      display: inline-block;
      color: $primary;
    }
    &-field:focus ~ &-btn--remove {
      display: none;
    }
    &-add {
      width: 30px;
      height: 30px;
      border-radius: 200px;
      border: 1px solid $border;
      background-color: $black;
      color: $white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      cursor: pointer;
    }
  }

  // Dropzone component
  &-dropzone {
    position: relative;
    &__container {
      padding: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      @media(max-width: 767px) {
        padding: 0;
        max-width: 100%;
      }
      &--image {
        padding: 0;
        text-align: left;
        align-items: flex-start;
      }
      &--content {
        padding-bottom: 156px;
        @media(max-width: 767px) {
          padding-bottom: 0;
        }
      }
      &--loaded {
        padding-bottom: 24px;
      }
    }
    &__file {
      display: inline-flex;
      width: 140px;
      height: 185px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
      position: relative;
      &-format {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        text-transform: uppercase;
        font-family: NeueMachinaBold;
        color: #383838;
        @media(max-width: 1023px) {
          font-size: 24px;
        }
      }
      @media(max-width: 1023px) {
        width: 91px;
        height: 120px;
      }
      img {
        display: block;
        width: 100%;
      }
    }
    &__icon {
      display: inline-flex;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      background-color: #1C1C1C;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
      @media(max-width: 1023px) {
        width: 156px;
        height: 156px;
      }
      img {
        display: block;
        width: 86px;
        @media(max-width: 1023px) {
          width: 72px;
        }
      }
    }
    &__name {
      font-family: NeueMachinaBold;
      font-size: 48px;
      line-height: 98px;
      text-align: center;
      letter-spacing: -0.02em;
      text-transform: lowercase;
      color: $white;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @media(max-width: 767px) {
        font-size: 16px;
        line-height: 32px;
      }
    }
    &__file-size {
      font-family: NeueMachina;
      font-size: 22px;
      line-height: 35px;
      letter-spacing: -0.03em;
      color: $white;
      opacity: 0.4;
      @media(max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &__title {
      font-family: NeueMachinaBold;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $white;
      &-mobile {
        display: none;
      }
      @media(max-width: 1023px) {
        font-size: 32px;
        line-height: 40px;
        display: none;
        &-mobile {
          display: block;
        }
      }
    }
    &__subtitle {
      font-family: NeueMachina;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: -0.03em;
      color: $white;
      margin-bottom: 12px;
      @media(max-width: 1023px) {
        font-size: 20px;
        line-height: 32px;
      }
      @media(max-width: 767px) {
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
    &__note {
      font-family: NeueMachinaUltraLight;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: -0.03em;
      color: $white;
      opacity: 0.4;
      display: flex;
      flex-direction: row;
      align-items: center;
      @media(max-width: 1023px) {
        font-size: 16px;
        line-height: 16px;
      }
      @media(max-width: 767px) {
        font-size: 12px;
        line-height: 12px;
      }
      img {
        margin-right: 16px;
      }
    }
    &__preview {
      width: 100%;
      display: block;
      @media(max-width: 767px) {
        text-align: center;
      }
      &-name {
        width: 100%;
        display: block;
        font-family: NeueMachina;
        font-size: 16px;
        line-height: 16px;
        color: $white;
        padding: 24px;
        border: 1px dashed $border;
        border-top: none;
      }
    }
    &__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 24px;
      @media(max-width: 767px) {
        display: none;
      }
      &-column {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        &-img {
          width: 36px;
          height: 36px;
          margin-right: 8px;
          display: block;
        }
        &-text {
          display: flex;
          flex-direction: column;
        }
        &-title {
          margin-top: 2px;
          margin-bottom: 4px;
          font-family: NeueMachinaBold;
          font-size: 12px;
          line-height: 12px;
          letter-spacing: 0.06em;
          color: $white;
        }
        &-format {
          font-family: NeueMachinaUltraLight;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: -0.03em;
          color: $white;
          opacity: 0.4;
        }
      }
    }
    &__error-msg {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      font-family: NeueMachina;
      line-height: 24px;
      font-size: 16px;
      letter-spacing: -0.03em;
      color: $error;
      @media(min-width: 768px) {
        white-space: nowrap;
        top: 75%;
        line-height: 32px;
        font-size: 24px;
      }
    }
    &__remove {
      text-decoration: none;
      color: $primary;
      position: absolute;
      top: 24px;
      right: 24px;
      cursor: pointer;
      .icon {
        font-size: 24px;
        line-height: 24px;
        margin: 0;
      }
    }
  }

  // Checkbox components
  &-checkbox {
    background-color: #141414;
    width: 52px;
    height: 24px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $primary;
      position: absolute;
      left: 4px;
      top: 4px;
      transition: left 0.3s ease;
    }
    &--off {
      &:before {
        left: 28px;
      }
    }
    &--inverse {
      background-color: $black;
    }
    &__field {
      display: none;
    }
  }
}
