@import 'variables.scss';

@font-face {
  font-family: "NeueMachinaBold";
  src: url("/fonts/NeueMachina/NeueMachina-Bold.eot?") format("eot"),
       url("/fonts/NeueMachina/NeueMachina-Bold.ttf") format("truetype"),
       url("/fonts/NeueMachina/NeueMachina-Bold.woff2") format("woff2"),
       url("/fonts/NeueMachina/NeueMachina-Bold.woff") format("woff");
  font-style: bold;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/NeueMachina/NeueMachina-Regular.eot?") format("eot"),
       url("/fonts/NeueMachina/NeueMachina-Regular.ttf") format("truetype"),
       url("/fonts/NeueMachina/NeueMachina-Regular.woff2") format("woff2"),
       url("/fonts/NeueMachina/NeueMachina-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "NeueMachinaLight";
  src: url("/fonts/NeueMachina/NeueMachina-Light.eot?") format("eot"),
       url("/fonts/NeueMachina/NeueMachina-Light.ttf") format("truetype"),
       url("/fonts/NeueMachina/NeueMachina-Light.woff2") format("woff2"),
       url("/fonts/NeueMachina/NeueMachina-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "NeueMachinaUltraLight";
  src: url("/fonts/NeueMachina/NeueMachina-UltraLight.eot?") format("eot"),
       url("/fonts/NeueMachina/NeueMachina-UltraLight.ttf") format("truetype"),
       url("/fonts/NeueMachina/NeueMachina-UltraLight.woff2") format("woff2"),
       url("/fonts/NeueMachina/NeueMachina-UltraLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  background-color: $black;
  color: $white;
  font-family: NeueMachina;
}

.container {
  width: 100%;
  padding: 0 36px;
  @media(max-width: 767px) {
    padding: 0 18px;
  }
}

.btn {
  font-family: NeueMachinaBold;
  text-transform: uppercase;
  border-radius: 200px;
  text-decoration: none;
  display: inline-block;
  &--bid {
    background-color: $primary;
    color: $black;
    border: 2px solid $primary;
    height: 50px;
    font-size: 32px;
    line-height: 34px;
    padding: 8px 28px;
    letter-spacing: 0.06em;
  }
}

.at {
  color: $primary;
  font-family: NeueMachinaBold;
  margin-right: 3px;
}

.primary {
  color: $primary;
}
