.home {
  position: relative;
  &.dark{
    &:before {
      content: '';
      opacity: 1;
    }
    .touch &:before {
      content: '';
      opacity: 0;
      visibility: hidden;
    }
  }
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s ease;
  }
  &__slider {
      margin: 108px 0 216px;
      @media(max-width: 767px) {
        margin: 30px auto 58px;
      }
  }
}
