@import "variables.scss";

.owner {
  display: flex;
  flex-direction: row;
  @media(max-width: 767px) {
    flex-wrap: wrap;
  }
  &__column {
    flex: 1 0 50%;
    @media(max-width: 767px) {
      flex: 1 0 100%;
    }
  }
  &__title {
    font-family: NeueMachinaBold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 20px;
    @media(max-width: 767px) {
      font-size: 10px;
      line-height: 10px;
    }
  }
  &__price {
    @media(max-width: 767px) {
      margin-bottom: 44px;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
        border-bottom: 1px solid #1E1E1E;
      }
    }
    &-eth {
      font-family: NeueMachinaBold;
      font-size: 4.17vw;
      line-height: 4.01vw;
      letter-spacing: -0.05em;
      color: $primary;
      margin-bottom: 0.417vw;
      @media(max-width: 767px) {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 4px;
      }
    }
    &-usd {
      font-family: NeueMachina;
      font-size: 1.25vw;
      line-height: 1.25vw;
      letter-spacing: -0.05em;
      color: $white;
      opacity: 0.5;
      @media(max-width: 767px) {
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
  &__user {
    padding: 1.67vw 1.25vw;
    background-color: #0D0D0D;
    @media(max-width: 767px) {
      padding: 17px 10px;
    }
  }
  &__auction {
    &-btn {
      margin-bottom: 1.117vw;
      font-size: 2.17vw;
      line-height: 2.61vw;
      padding: 8px 28px;
      height: 3.41vw;
      padding: 0.5vw 1.45vw;
      @media(max-width: 767px) {
        height: 40px;
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 12px;
        padding: 10px 28px;
      }
    }
    &-min {
      font-family: NeueMachina;
      font-size: 1.25vw;
      line-height: 1.25vw;
      letter-spacing: -0.05em;
      color: $white;
      opacity: 0.5;
      @media(max-width: 767px) {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}
