@import "variables.scss";

.owner {
  display: flex;
  flex-direction: row;
  &__column {
    flex: 1 0 50%;
  }
  &__title {
    font-family: NeueMachinaBold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 20px;
  }
  &__price {
    &-eth {
      font-family: NeueMachinaBold;
      font-size: 4.17vw;
      line-height: 4.01vw;
      letter-spacing: -0.05em;
      color: $primary;
      margin-bottom: 0.417vw;
    }
    &-usd {
      font-family: NeueMachina;
      font-size: 1.25vw;
      line-height: 1.25vw;
      letter-spacing: -0.05em;
      color: $white;
      opacity: 0.5;
    }
  }
  &__user {
    padding: 1.67vw 1.25vw;
    background-color: #0D0D0D;
  }
  &__auction {
    &-btn {
      margin-top: 0.417vw;
      margin-bottom: 1.67vw;
    }
    &-min {
      font-family: NeueMachina;
      font-size: 1.25vw;
      line-height: 1.25vw;
      letter-spacing: -0.05em;
      color: $white;
      opacity: 0.5;
    }
  }
}
