@import 'variables';

.post {
  &-new {
    padding: 16px 16px 72px;
    position: relative;
    background-color: $black;
    &__container {
      max-width: 768px;
      margin: 0 auto;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 72px;
        border-left: 1px solid $border;
        z-index: 1;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 72px;
        border-right: 1px solid $border;
        z-index: 1;
      }
    }
    &__title {
      font-family: NeueMachinaBold;
      font-size: 20px;
      line-height: 42px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $primary;
      margin-bottom: 12px;
    }
    &__group {
      margin-bottom: 24px;
      &-heading {
        font-family: NeueMachinaBold;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.06em;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 12px;
      }
      &-error {
        margin-top: 16px;
        font-family: NeueMachinaUltraLight;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.06em;
        color: $error;
      }
    }
    &__field {
      background-color: #141414;
      border: 1px solid #141414;
      padding: 12px 20px;
      font-family: NeueMachinaUltraLight;
      color: $white;
      width: 100%;
      &:focus {
        outline: 1px solid $primary;
      }
      &--error {
        border: 1px solid $error;
      }
      &-textarea {
        min-height: 124px;
        max-width: 100%;
        min-width: 100%;
      }
    }
    &__dropzone {
      padding: 24px 20px;
      background-color: #141414;
      border: 1px solid #141414;
      font-family: NeueMachinaBold;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      cursor: pointer;
      &--error {
        border: 1px solid $error;
      }
      .icon {
        font-size: 36px;
        line-height: 39px;
        margin-right: 32px;
      }
      p {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
      }
    }
    &__preview {
      width: 100%;
      img {
        width: 100%;
      }
    }
    &__tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      &-item {
        border: 1px solid $border;
        border-radius: 200px;
        margin-bottom: 12px;
        margin-right: 12px;
        padding: 6px 32px 6px 20px;
        position: relative;
      }
      &-item--empty + &-add {
        display: none;
      }
      &-field {
        background-color: transparent;
        color: $white;
        border: none;
        text-transform: uppercase;
        font-family: NeueMachinaBold;
        font-size: 12px;
        line-height: 12px;
        padding: 0;
        letter-spacing: 0.06em;
        &:-webkit-autofill {
          -webkit-text-fill-color: $white !important;
          -webkit-box-shadow: 0 0 0px 1000px $black inset;
        }
        &:focus {
          outline: none;
          color: $primary;
        }
      }
      &-btn {
        border: none;
        background-color: transparent;
        color: $border;
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        font-size: 10px;
        line-height: 4px;
        cursor: pointer;
      }
      &-field ~ &-btn--save {
        display: none;
      }
      &-field:focus ~ &-btn--save {
        display: inline-block;
        color: $primary;
      }
      &-field:focus ~ &-btn--remove {
        display: none;
      }
      &-add {
        width: 30px;
        height: 30px;
        border-radius: 200px;
        border: 1px solid $border;
        background-color: $black;
        color: $white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 14px;
      }
    }
    &__actions {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px 12px;
      background-color: $black;
      border-top: 1px solid $border;
      display: flex;
      flex-direction: row;
      @media(max-width: 767px) {
        position: fixed;
      }
      &-btn {
        flex: 1 0 calc(50% - 16px);
        max-width: 50%;
        margin: 0 8px;
        font-family: NeueMachinaBold;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.06em;
        border: 1px solid $border;
        background-color: $black;
        color: $white;
        &:hover {
          background-color: $white;
          color: $black;
        }
        &--submit {
          background-color: $white;
          color: $black;
          padding: 8px 16px;
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }
}
