@import 'variables';

.post {
  &-new {
    padding: 16px 16px 72px;
    position: relative;
    background-color: $black;
    &__container {
      max-width: 768px;
      margin: 0 auto;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 72px;
        border-left: 1px solid $border;
        z-index: 1;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 72px;
        border-right: 1px solid $border;
        z-index: 1;
      }
    }
    &__title {
      font-family: NeueMachinaBold;
      font-size: 20px;
      line-height: 42px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $primary;
      margin-bottom: 12px;
    }
    &__actions {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px 12px;
      background-color: $black;
      border-top: 1px solid $border;
      display: flex;
      flex-direction: row;
      @media(max-width: 767px) {
        position: fixed;
      }
      &-btn {
        flex: 1 0 calc(50% - 16px);
        max-width: 50%;
        margin: 0 8px;
        font-family: NeueMachinaBold;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.06em;
        border: 1px solid $border;
        background-color: $black;
        color: $white;
        &:hover {
          background-color: $white;
          color: $black;
        }
        &--submit {
          background-color: $white;
          color: $black;
          padding: 8px 16px;
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }
}
