@import "variables";

.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  @media(max-width: 767px) {
    justify-content: flex-start;
  }
  &__name {
    font-family: NeueMachinaBold;
    text-align: center;
    text-transform: uppercase;
    color: $white;
  }
  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-item {
      border-radius: 200px;
      border: 1px solid $border;
      padding: 8px 12px;
      height: 27px;
      font-size: 12px;
      line-height: 12px;
      font-family: NeueMachinaBold;
      letter-spacing: 0.06em;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 4px;
      display: block;
      &--follow {
        background-color: $white;
        color: $black;
      }
      &--more {
        font-size: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        @media(max-width: 767px) {
          & + .dropdown__list {
            right: 0;
            left: auto;
          }
        }
      }
    }
    &-dropdown {
      @media(max-width: 767px) {
        position: absolute;
        top: -60px;
        right: -10px;
      }
    }
  }
  &__description {
    font-family: NeueMachinaUltraLight;
    text-align: center;
    color: $white;
    opacity: 0.4;
  }
  &__created {
    font-family: NeueMachinaUltraLight;
    text-align: center;
    color: $white;
    opacity: 0.4;
  }
  &__avatar {
    position: relative;
    margin-bottom: 32px;
    &-img {
      width: 108px;
      height: 108px;
      border-radius: 50%;
      img {
        width: 100%;
      }
    }
    &-verified {
      position: absolute;
      top: 50%;
      left: calc(100% - 22px);
      transform: translateY(-50%);
      font-size: 16px;
      line-height: 28px;
      height: 44px;
      width: 44px;
      border-radius: 22px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: $white;
      color: $black;
      white-space: nowrap;
      padding: 0 16px 0 8px;
      transition: width 0.3s ease;
      overflow: hidden;
      z-index: 2;
      &:hover {
        width: auto;
      }
      i {
        font-size: 28px;
        line-height: 28px;
        margin-right: 8px;
      }
    }
    @media(max-width: 1365px) {
      font-size: 7.4vw;
      line-height: 7.5vw;
      &-img {
        width: 72px;
        height: 72px;
      }
      &-verified {
        font-size: 12px;
        height: 32px;
        width: 32px;
        left: calc(100% - 16px);
        padding: 0 12px 0 6px;
        i {
          font-size: 21px;
          line-height: 22px;
          margin-right: 8px;
        }
      }
    }
    @media(max-width: 767px) {
      &-img {
        width: 104px;
        height: 104px;
      }
      &-verified {
        font-size: 12px;
        line-height: 14px;
        white-space: normal;
        height: 44px;
        width: 44px;
        padding: 0 16px 0 8px;
        i {
          font-size: 28px;
        }
      }
    }
  }
  &__ids {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &-nickname {
      font-family: NeueMachina;
      color: $white;
      margin: 0 8px;
      &-at {
        color: #666666;
      }
    }
    &-hash {
      background-color: transparent;
      border: none;
      font-family: NeueMachinaUltraLight;
      color: $white;
      opacity: 0.4;
      cursor: pointer;
    }
  }
  &__stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &-item {
      text-align: center;
    }
    &-value {
      color: $primary;
      font-family: NeueMachinaBold;
      text-transform: uppercase;
    }
    &-param {
      font-family: NeueMachina;
      text-transform: uppercase;
    }
  }
  &--full & {
    &__avatar {
      margin-bottom: 1.667vw;
      @media(max-width: 767px) {
        margin-bottom: 32px;
      }
    }
    &__name {
      font-size: 10.4vw;
      line-height: 10.5vw;
      letter-spacing: -0.05em;
      @media(max-width: 1365px) {
        font-size: 7.4vw;
        line-height: 7.5vw;
      }
      @media(max-width: 767px) {
        font-size: 34px;
        line-height: 36px;
        margin-bottom: 20px;
      }
    }
    &__links {
      margin-bottom: 2.8vw;
      @media(max-width: 767px) {
        &-item {
          margin-bottom: 16px;
        }
      }
    }
    &__description {
      font-size: 1.458vw;
      line-height: 1.927vw;
      letter-spacing: -0.05em;
      margin-bottom: 1.25vw;
      max-width: 560px;
      @media(max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
      }
    }
    &__created {
      font-size: 16px;
      line-height: 15px;
      letter-spacing: -0.05em;
      margin-bottom: 2.5vw;
      @media(max-width: 767px) {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 0;
      }
    }
    &__ids {
      margin-bottom: 1.25vw;
      @media(max-width: 767px) {
        margin-bottom: 40px;
      }
      &-nickname {
        font-size: 1.354vw;
        line-height: 1.2vw;
        letter-spacing: -0.05em;
        @media(max-width: 767px) {
          font-size: 16px;
          line-height: 16px;
        }
      }
      &-hash {
        font-size: 1.354vw;
        line-height: 1.2vw;
        letter-spacing: -0.05em;
        @media(max-width: 767px) {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
    &__stats {
      margin-bottom: 2.08vw;
      @media(max-width: 767px) {
        margin-bottom: 36px;
      }
      &-item {
        margin: 0 24px;
        @media(max-width: 767px) {
          margin: 0 12px;
        }
      }
      &-value {
        font-size: 3.3333vw;
        line-height: 3.2vw;
        letter-spacing: -0.05em;
        @media(max-width: 767px) {
          font-size: 26px;
          line-height: 26px;
        }
      }
      &-param {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.06em;
        @media(max-width: 767px) {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }
  &--small &{
    &__avatar {
      margin-top: 28px;
    }
    &__name {
      font-size: 1.77vw;
      line-height: 1.7vw;
      letter-spacing: -0.05em;
      margin-top: 16px;
      margin-bottom: 16px;
      @media(max-width: 1365px) {
        font-size: 2.3vw;
        line-height: 2.3vw;
      }
    }
    &__ids {
      margin-bottom: 1.25vw;
      &-nickname {
        font-size: 1.04vw;
        line-height: 1vw;
        letter-spacing: -0.05em;
      }
      &-hash {
        font-size: 1.04vw;
        line-height: 1vw;
        letter-spacing: -0.05em;
      }
    }
    &__stats {
      flex-wrap: wrap;
      &-item {
        margin: 0 12px 1.875vw;
      }
      &-value {
        font-size: 1.77vw;
        line-height: 1.7vw;
        letter-spacing: -0.05em;
      }
      &-param {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.06em;
      }
    }
    &__description {
      font-size: 1.25vw;
      line-height: 1.77vw;
      letter-spacing: -0.05em;
      margin-bottom: 32px;
      width: 100%;
    }
    &__created {
      font-size: 16px;
      line-height: 15px;
      letter-spacing: -0.05em;
    }
    &__links {
      &-item {
        margin-bottom: 12px;
      }
    }
  }
}
