@import "variables.scss";

.swiper{
  &-container {
    width: 100%;
    overflow-x: clip !important;
    overflow-y: visible !important;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &-slide {
    background-position: center;
    background-size: cover;
    width: 44vw !important;
    @media(max-width: 767px) {
      width: 100vw !important;
      padding: 0 18px;
      height: auto;
      &:before {
        content: '';
        width: 1px;
        background-color: $border;
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translateX(-50%);
        height: 385px;
        z-index: -1;
      }
    }
    img {
      display: block;
      width: 100%;
    }
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%)
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes slide-off {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-100%)
  }
}


.slider {
  &__wrapper {
    position: relative;
  }
  &__item {
    height: 35.8vw !important;
    overflow: hidden;
    @media(max-width: 1919px) {
      height: 30vw !important;
    }
    @media(max-width: 767px) {
      height: calc(80vw - 36px) !important;
      margin-bottom: 20px;
    }
    img {
      transition: transform 0.7s ease;
    }
    &.scale {
      img {
        transform: scale(0.95);
      }
    }
    &-animation {
      transform: translateY(150%);
      transition: transform 0.9s ease;
      @media(max-width: 767px) {
        transform: none;
      }
      &.show {
        transform: translateY(0);
        transition-delay: 0.3s;
        @media(max-width: 767px) {
          transform: none;
        }
        &.hide {
          transform: translateY(-150%);
          @media(max-width: 767px) {
            transform: none;
          }
        }
      }
    }
    &-content {
      display: none;
      @media(max-width: 767px) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-bottom: 132px;
        &:before {
          content: '';
          width: 1px;
          background-color: $border;
          height: 33px;
          position: absolute;
          bottom: 93px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &.visible {
        display: block;
        @media(max-width: 767px) {
          display: flex;
        }
      }
    }
    &-title {
      color: $white;
      font-family: NeueMachinaBold;
      font-size: 120px;
      line-height: 116px;
      letter-spacing: -0.02em;
      text-transform: capitalize;
      position: absolute;
      bottom: 108px;
      width: 90%;
      left: -72px;
      overflow: hidden;
      @media(max-width: 1919px) {
        font-size: 90px;
        line-height: 96px;
        bottom: 36px;
      }
      @media(max-width: 1365px) {
        font-size: 64px;
        line-height: 72px;
        bottom: 18px;
      }
      @media(max-width: 1023px) {
        font-size: 48px;
        line-height: 56px;
        left: -48px;
        bottom: 18px;
        width: 100%;
      }
      @media(max-width: 767px) {
        position: static;
        width: 100%;
        left: auto;
        bottom: auto;
        order: 2;
        font-size: 32px;
        line-height: 31px;
        text-align: center;
        letter-spacing: -0.02em;
      }
    }
    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media(max-width: 1023px) {
        flex-wrap: wrap;
      }
      @media(max-width: 767px) {
        flex-direction: column;
      }
      &-wrapper {
        overflow: hidden;
        position: absolute;
        bottom: -120px;
        left: 0;
        right: 0;
        @media(max-width: 767px) {
          position: static;
          bottom: auto;
          left: auto;
          right: auto;
          order: 1;
        }
      }
    }
  }
  &__pagination-fraction {
    position: absolute;
    font-family: NeueMachina;
    bottom: -108px;
    left: 10.8vw;
    color: $white;
    font-size: 22px;
    @media(max-width: 1023px) {
      left: 36px;
      font-size: 16px;
    }
    @media(max-width: 767px) {
      display: none;
    }
  }
  &__nav {
    position: absolute;
    bottom: -120px;
    right: 10.8vw;
    color: $white;
    display: flex;
    flex-direction: row;
    @media(max-width: 1023px) {
      right: 36px;
    }
    @media(max-width: 767px) {
      position: absolute;
      bottom: 0;
      right: 44px;
      left: 44px;
      justify-content: space-between;
      z-index: 1;
    }
    &-btn {
      background: transparent;
      border-radius: 50%;
      width: 54px;
      height: 54px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 1px solid #474747;
      margin: 0 8px;
      cursor: pointer;
      @media(max-width: 1023px) {
        width: 36px;
        height: 36px;
      }
    }
  }
}

.item {
  &__owner {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    @media(max-width: 1023px) {
      align-items: center;
    }
    @media(max-width: 767px) {
      flex-direction: column;
      text-align: center;
      margin-bottom: 12px;
    }
    &-photo {
      height: 50px;
      width: 50px;
      margin-right: 18px;
      @media(max-width: 1365px) {
        margin-right: 12px;
      }
      @media(max-width: 767px) {
        margin: 0 0 24px;
      }
    }
    &-link {
      display: block;
      text-decoration: none;
    }
    &-title {
      font-family: NeueMachina;
      opacity: 0.4;
      font-size: 16px;
      line-height: 15px;
      letter-spacing: -0.05em;
      margin-bottom: 8px;
      display: block;
    }
    &-at {
      font-family: NeueMachinaBold;
      color: $primary;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: -0.05em;
    }
    &-name {
      font-family: NeueMachina;
      font-size: 20px;
      line-height: 19px;
      letter-spacing: -0.05em;
      color: $white;
      @media(max-width: 1365px) {
        font-size: 16px;
      }
    }
  }
  &__buy {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    @media(max-width: 1023px) {
      flex-direction: column;
    }
    @media(max-width: 767px) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      align-items: center;
    }
    &-price {
      font-family: NeueMachinaBold;
      font-size: 22px;
      line-height: 22px;
      letter-spacing: -0.04em;
      margin-right: 12px;
      @media(max-width: 1365px) {
        font-size: 14px;
        margin: 0 0 30px;
      }
      @media(max-width: 767px) {
        color: $primary;
        font-size: 16px;
      }
    }
    &-btn {
      font-family: NeueMachinaBold;
      background-color: $primary;
      color: $black;
      padding: 8px 18px;
      font-size: 12px;
      line-height: 12px;
      height: 27px;
      letter-spacing: 0.06em;
      border-radius: 200px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      @media(max-width: 767px) {
        height: 36px;
        font-size: 14px;
        line-height: 23px;
      }
    }
  }
}
