@import 'variables.scss';

.user {
  // User page
  &__preview {
    height: calc(100vh - 56px - 60px);
    margin: 30px 0;
    padding: 0 30px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    position: relative;
    @media(max-width: 1024px) {
      max-height: 600px;
    }
    @media(max-width: 767px) {
      max-height: none;
      margin: 0;
      padding: 72px 0 40px;
      border: none;
      height: auto;
      overflow: hidden;
    }
    &:before {
      content: '';
      position: absolute;
      top: -31px;
      bottom: -31px;
      left: 30px;
      border-left: 1px solid $border;
      z-index: 1;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: -31px;
      bottom: -31px;
      right: 30px;
      border-right: 1px solid $border;
      z-index: 1;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &-bg {
      display: block;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      opacity: 0.5;
      @media(max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      &:before {
        content: "";
        background: linear-gradient(360deg, #000000 50%, rgba(0, 0, 0, 0) 98.64%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      img {
        display: none;
      }
    }
    &-profile {
      position: absolute;
      top: 0;
      left: 30px;
      width: calc(100% - 60px);
      height: 100%;
      @media(max-width: 767px) {
        left: 18px;
        width: calc(100% - 36px);
        position: relative;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 30px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    position: relative;
    @media(max-width: 767px) {
      padding: 0;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 30px;
      border-right: 1px solid $border;
      z-index: 1;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 30px;
      border-right: 1px solid $border;
      z-index: 1;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &-profile {
      flex-basis: 25%;
      max-width: 25%;
      padding: 20px;
      position: sticky;
      top: 0;
      @media(max-width: 1023px) {
        display: none;
      }
    }
    &-tabs {
      flex-basis: 75%;
      max-width: 75%;
      &:after {
        content: '';
        position: absolute;
        left: calc(25% + 15px);
        top: 0;
        bottom: 0;
        border-right: 1px solid $border;
        z-index: 1;
        @media(max-width: 1023px) {
          display: none;
        }
      }
      @media(max-width: 1023px) {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }

  // UserTabs component
  &-tabs {
    position: relative;
    &__list {
      margin: 0;
      padding: 30px;
      list-style: none;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $border;
      @media(max-width: 767px) {
        padding: 0;
      }
    }
    &__toggle {
      position: absolute;
      right: 30px;
      top: 28px;
      display: flex;
      flex-direction: row;
      @media(max-width: 767px) {
        display: none;
      }
      &-radio {
        margin-left: 16px;
        label {
          cursor: pointer;
        }
        span {
          opacity: 0.4;
          color: $white;
          font-size: 12px;
          line-height: 12px;
          letter-spacing: 0.06em;
          font-family: NeueMachinaBold;
          text-transform: uppercase;
        }
        input {
          display: none;
          &:checked + span {
            opacity: 1;
            i {
              color: $primary;
            }
          }
        }
      }
    }
    &__tab {
      margin-right: 40px;
      background: transparent;
      border: none;
      color: $white;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.06em;
      font-family: NeueMachinaBold;
      text-transform: uppercase;
      cursor: pointer;
      @media(max-width: 1439px) {
        margin-right: 16px;
      }
      @media(max-width: 767px) {
        margin: 0;
        flex-basis: 25%;
        max-width: 25%;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $border;
        &:last-child {
          border-right: none;
        }
      }
      &-count {
        opacity: 0.5;
      }
      &--selected &-title{
        opacity: 1;
      }
      &--selected &-count {
        color: $primary;
        opacity: 1;
      }
      &--selected &-title--mobile {
        color: $primary;
      }
      &-title {
        opacity: 0.4;
        &--mobile {
          font-size: 18px;
          line-height: 18px;
          display: none;
          @media(max-width: 767px) {
            display: block;
          }
        }
        &--desktop {
          @media(max-width: 767px) {
            display: none;
          }
        }
      }
    }
    &__panel {
      @media(max-width: 767px) {
        overflow: hidden;
      }
    }
  }

  // UserGrid component
  &-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    @media(max-width: 767px) {
      padding: 0;
      margin: -4px;
      overflow: hidden;
    }
    &-item {
      flex-basis: 33.3333%;
      max-width: 33.3333%;
      padding: 15px;
      position: relative;
      @media(max-width: 767px) {
        padding: 2px;
      }
      &:before {
        content: '';
        position: absolute;
        top: -15px;
        bottom: -15px;
        left: 15px;
        border-left: 1px solid $border;
        z-index: 1;
        @media(max-width: 767px) {
          top: -2px;
          bottom: -2px;
          left: 2px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: -15px;
        bottom: -15px;
        right: 15px;
        border-right: 1px solid $border;
        z-index: 1;
        @media(max-width: 767px) {
          top: -2px;
          bottom: -2px;
          right: 2px;
        }
      }
      &__link {
        display: block;
        padding-top: 100%;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: -30px;
          left: -30px;
          border-top: 1px solid $border;
          z-index: 1;
          @media(max-width: 767px) {
            top: 0;
            right: -2px;
            left: -2px;
          }
        }
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          right: -30px;
          left: -30px;
          border-bottom: 1px solid $border;
          z-index: 1;
          @media(max-width: 767px) {
            bottom: 0;
            right: -2px;
            left: -2px;
          }
        }
      }
      &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
      }
      &__img {
        width: 100%;
        display: block;
      }
      &__author {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1.04vw 1.3vw;
        text-decoration: none;
        @media(max-width: 1023px) {
          margin: 2.04vw 2.3vw;
        }
        @media(max-width: 767px) {
          display: none;
        }
        &-img {
          border-radius: 50%;
          width: 2.29vw;
          height: 2.29vw;
          margin-right: 12px;
          display: inline-block;
          @media(max-width: 1023px) {
            width: 4.29vw;
            height: 4.29vw;
          }
        }
        &-name {
          font-family: NeueMachinaBold;
          font-size: 1.04vw;
          line-height: 1vw;
          color: $white;
          opacity: 0.88;
          @media(max-width: 1023px) {
            font-size: 2.04vw;
            line-height: 2vw;
          }
        }
      }
      &__text {
        display: block;
        margin: 0 1.3vw 1.04vw;
        color: $white;
        font-size: 1.4vw;
        line-height: 2.24vw;
        letter-spacing: -0.03em;
        opacity: 0.88;
        text-decoration: none;
        overflow: hidden;
        height: calc(100% - 4.375vw);
        @media(max-width: 1023px) {
          font-size: 1.9vw;
          line-height: 2.4vw;
          margin: 0 2.3vw 2.04vw;
          height: calc(100% - 8.375vw);
        }
        @media(max-width: 767px) {
          margin: 8px;
          font-size: 10px;
          line-height: 15px;
          height: calc(100% - 16px);
        }
      }
    }
  }
}
