@import 'variables.scss';

.user {
  // User page
  &__preview {
    height: calc(100vh - 56px - 60px);
    margin: 30px 0;
    padding: 0 30px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    position: relative;
    @media(max-width: 1024px) {
      max-height: 600px;
    }
    @media(max-width: 767px) {
      max-height: none;
      margin: 0;
      padding: 72px 0 40px;
      border: none;
      height: auto;
      overflow: hidden;
    }
    &:before {
      content: '';
      position: absolute;
      top: -31px;
      bottom: -31px;
      left: 30px;
      border-left: 1px solid $border;
      z-index: 1;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: -31px;
      bottom: -31px;
      right: 30px;
      border-right: 1px solid $border;
      z-index: 1;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &-bg {
      display: block;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      opacity: 0.5;
      @media(max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      &:before {
        content: "";
        background: linear-gradient(360deg, #000000 50%, rgba(0, 0, 0, 0) 98.64%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      img {
        display: none;
      }
    }
    &-profile {
      position: absolute;
      top: 0;
      left: 30px;
      width: calc(100% - 60px);
      height: 100%;
      @media(max-width: 767px) {
        left: 18px;
        width: calc(100% - 36px);
        position: relative;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 30px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    position: relative;
    @media(max-width: 767px) {
      padding: 0;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 30px;
      border-right: 1px solid $border;
      z-index: 1;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 30px;
      border-right: 1px solid $border;
      z-index: 1;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &-profile {
      flex-basis: 25%;
      max-width: 25%;
      padding: 20px;
      position: sticky;
      top: 0;
      z-index: 100;
      @media(max-width: 1023px) {
        display: none;
      }
    }
    &-tabs {
      flex-basis: 75%;
      max-width: 75%;
      &:after {
        content: '';
        position: absolute;
        left: calc(25% + 15px);
        top: 0;
        bottom: 0;
        border-right: 1px solid $border;
        z-index: 1;
        @media(max-width: 1023px) {
          display: none;
        }
      }
      @media(max-width: 1023px) {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }

  // UserTabs component
  &-tabs {
    position: relative;
    &__list {
      margin: 0;
      padding: 30px;
      list-style: none;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $border;
      @media(max-width: 767px) {
        padding: 0;
      }
    }
    &__toggle {
      position: absolute;
      right: 30px;
      top: 28px;
      display: flex;
      flex-direction: row;
      @media(max-width: 767px) {
        display: none;
      }
      &-radio {
        margin-left: 16px;
        label {
          cursor: pointer;
        }
        span {
          opacity: 0.4;
          color: $white;
          font-size: 12px;
          line-height: 12px;
          letter-spacing: 0.06em;
          font-family: NeueMachinaBold;
          text-transform: uppercase;
        }
        input {
          display: none;
          &:checked + span {
            opacity: 1;
            i {
              color: $primary;
            }
          }
        }
      }
    }
    &__tab {
      margin-right: 40px;
      background: transparent;
      border: none;
      color: $white;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.06em;
      font-family: NeueMachinaBold;
      text-transform: uppercase;
      cursor: pointer;
      @media(max-width: 1439px) {
        margin-right: 16px;
      }
      @media(max-width: 767px) {
        margin: 0;
        flex-basis: 25%;
        max-width: 25%;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $border;
        &:last-child {
          border-right: none;
        }
      }
      &-count {
        opacity: 0.5;
      }
      &--selected &-title{
        opacity: 1;
      }
      &--selected &-count {
        color: $primary;
        opacity: 1;
      }
      &--selected &-title--mobile {
        color: $primary;
      }
      &-title {
        opacity: 0.4;
        &--mobile {
          font-size: 18px;
          line-height: 18px;
          display: none;
          @media(max-width: 767px) {
            display: block;
          }
        }
        &--desktop {
          @media(max-width: 767px) {
            display: none;
          }
        }
      }
    }
    &__panel {
      @media(max-width: 767px) {
        overflow: hidden;
      }
    }
  }

  // UserGrid component
  &-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    @media(max-width: 767px) {
      padding: 0;
      margin: -4px;
      overflow: hidden;
    }
    &-item {
      flex-basis: 33.3333%;
      max-width: 33.3333%;
      padding: 15px;
      position: relative;
      @media(max-width: 767px) {
        padding: 2px;
      }
      &:before {
        content: '';
        position: absolute;
        top: -15px;
        bottom: -15px;
        left: 15px;
        border-left: 1px solid $border;
        z-index: 1;
        @media(max-width: 767px) {
          top: -2px;
          bottom: -2px;
          left: 2px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: -15px;
        bottom: -15px;
        right: 15px;
        border-right: 1px solid $border;
        z-index: 1;
        @media(max-width: 767px) {
          top: -2px;
          bottom: -2px;
          right: 2px;
        }
      }
      &__link {
        display: block;
        padding-top: 100%;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: -30px;
          left: -30px;
          border-top: 1px solid $border;
          z-index: 1;
          @media(max-width: 767px) {
            top: 0;
            right: -2px;
            left: -2px;
          }
        }
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          right: -30px;
          left: -30px;
          border-bottom: 1px solid $border;
          z-index: 1;
          @media(max-width: 767px) {
            bottom: 0;
            right: -2px;
            left: -2px;
          }
        }
      }
      &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
      }
      &__img {
        width: 100%;
        display: block;
      }
      &__author {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1.04vw 1.3vw;
        text-decoration: none;
        @media(max-width: 1023px) {
          margin: 2.04vw 2.3vw;
        }
        @media(max-width: 767px) {
          display: none;
        }
        &-img {
          border-radius: 50%;
          width: 2.29vw;
          height: 2.29vw;
          margin-right: 12px;
          display: inline-block;
          @media(max-width: 1023px) {
            width: 4.29vw;
            height: 4.29vw;
          }
        }
        &-name {
          font-family: NeueMachinaBold;
          font-size: 1.04vw;
          line-height: 1vw;
          color: $white;
          opacity: 0.88;
          @media(max-width: 1023px) {
            font-size: 2.04vw;
            line-height: 2vw;
          }
        }
      }
      &__text {
        display: block;
        margin: 0 1.3vw 1.04vw;
        color: $white;
        font-size: 1.4vw;
        line-height: 2.24vw;
        letter-spacing: -0.03em;
        opacity: 0.88;
        text-decoration: none;
        overflow: hidden;
        height: calc(100% - 6.5vw);
        @media(max-width: 1023px) {
          font-size: 1.9vw;
          line-height: 2.4vw;
          margin: 0 2.3vw 2.04vw;
          height: calc(100% - 14vw);
        }
        @media(max-width: 767px) {
          margin: 8px;
          font-size: 10px;
          line-height: 15px;
          height: calc(100% - 28px);
        }
      }
      &__date {
        position: absolute;
        bottom: 1.04vw;
        left: 1.3vw;
        color: $white;
        opacity: 0.44;
        text-decoration: none;
        font-family: NeueMachinaBold;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.06em;
        @media(max-width: 1023px) {
          font-size: 12px;
          line-height: 12px;
          left: 2.3vw;
          bottom: 2.04vw;
        }
        @media(max-width: 767px) {
          font-size: 10px;
          line-height: 12px;
          left: 8px;
          bottom: 4px;
        }
      }
    }
  }

  // UserFeed component
  &-feed {
    position: relative;
    padding: 0 30px;
    overflow: hidden;
    @media(max-width: 767px) {
      padding: 0 15px;
    }
    &:before {
      content: "";
      position: absolute;
      top: -30px;
      left: 30px;
      bottom: -30px;
      border-left: 1px solid $border;
      z-index: 1;
      @media(max-width: 767px) {
        top: -15px;
        left: 15px;
        bottom: -15px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: -30px;
      right: 30px;
      bottom: -30px;
      border-right: 1px solid $border;
      z-index: 1;
      @media(max-width: 767px) {
        top: -15px;
        right: 15px;
        bottom: -15px;
      }
    }
    &-item {
      position: relative;
      margin: 30px 0;
      display: flex;
      flex-direction: column;
      @media(max-width: 767px) {
        margin: 0 0 15px;
        display: flex;
        flex-direction: column;
        &:first-child {
          &:before {
            display: none;
          }
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -30px;
        right: -30px;
        border-top: 1px solid $border;
        z-index: 1;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: -30px;
        left: -30px;
        border-bottom: 1px solid $border;
        z-index: 1;
      }
      &--artwork & {
        &__body {
          padding: 0 30px;
          @media(max-width: 767px) {
            padding: 0 15px;
            order: 4;
            &-tags {
              display: none;
            }
          }
          &-title {
            font-family: NeueMachinaBold;
            font-size: 53px;
            line-height: 68px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: $white;
            text-decoration: none;
            display: block;
            margin-bottom: 12px;
            &-name {
              display: none;
            }
            @media(max-width: 767px) {
              font-family: NeueMachinaUltraLight;
              font-size: 14px;
              line-height: 18px;
              letter-spacing: -0.05em;
              text-transform: none;
              margin-bottom: 24px;
              &-name {
                display: inline-block;
                margin-right: 4px;
              }
              &-text {
                opacity: 0.44;
              }
            }
          }
        }
        &__img {
          padding-top: 51.3%;
          position: relative;
          overflow: hidden;
          margin-bottom: 30px;
          @media(max-width: 767px) {
            margin-bottom: 15px;
            padding: 0;
          }
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            @media(max-width: 767px) {
              position: static;
              transform: none;
              display: block;
            }
          }
        }
        &__footer {
          padding: 30px;
          order: 5;
          @media(max-width: 767px) {
            padding: 0 15px;
            order: 3;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            margin-bottom: 15px;
            height: 24px;
            &:before {
              content: '';
              position: absolute;
              top: -15px;
              left: -15px;
              right: -15px;
              border-top: 1px solid $border;
            }
          }
          &-title {
            font-family: NeueMachinaBold;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: $primary;
            margin-bottom: 12px;
            @media(max-width: 767px) {
              display: none;
            }
          }
          &-eth {
            font-family: NeueMachinaBold;
            font-size: 80px;
            line-height: 77px;
            letter-spacing: -0.05em;
            color: $primary;
            margin-bottom: 8px;
            @media(max-width: 767px) {
              font-size: 10px;
              line-height: 10px;
              margin-right: 8px;
              margin-bottom: 0;
            }
          }
          &-usd {
            font-family: NeueMachina;
            font-size: 24px;
            line-height: 23px;
            letter-spacing: -0.05em;
            color: $white;
            opacity: 0.5;
            margin-bottom: 20px;
            @media(max-width: 767px) {
              display: none;
            }
          }
          &-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            @media(max-width: 767px) {
              &-wrapper {
                position: absolute;
                left: 15px;
                top: 0;
              }
            }
          }
          &-btn {
            background-color: $primary;
            border-radius: 200px;
            color: $black;
            border: 1px solid $primary;
            padding: 8px 12px;
            font-family: NeueMachinaBold;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            margin-right: 20px;
            cursor: pointer;
            @media(max-width: 767px) {
              margin-right: 0;
              font-size: 10px;
              line-height: 10px;
              padding: 6px 12px;
            }
          }
          &-owner {
            padding: 30px 30px 0;
            order: 4;
            @media(max-width: 767px) {
              position: relative;
              padding: 15px;
              order: 5;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -15px;
                right: -15px;
                border-top: 1px solid $border;
              }
            }
          }
        }
      }
      &--collection & {
        &__footer {
          &-eth, &-usd, &-title {
            display: none;
          }
        }
      }
      &--post & {
        &__body {
          padding: 0 30px;
          &-text {
            font-family: NeueMachina;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.03em;
            color: $white;
            opacity: 0.88;
          }
          &-link {
            color: $white;
            display: inline;
            margin-left: 12px;
            opacity: 0.4;
          }
        }
        &__footer {
          padding: 30px;
        }
      }
    }
  }

  // UserBids component
  &-bids {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -30px;
      left: 30px;
      bottom: -30px;
      border-left: 1px solid $border;
      z-index: 1;
      @media(max-width: 767px) {
        left: 15px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: -30px;
      right: 30px;
      bottom: -30px;
      border-right: 1px solid $border;
      z-index: 1;
      @media(max-width: 767px) {
        right: 15px;
      }
    }
    &__item {
      padding: 0 30px;
      margin: 0 0 30px;
      position: relative;
      &:first-child {
        margin-top: 30px;
      }
      @media(max-width: 767px) {
        padding: 0 15px;
        margin: 0 0 15px;
        &:first-child {
          margin-top: 0;
          &:before {
            display: none;
          }
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-top: 1px solid $border;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid $border;
      }
      &-artwork {
        display: flex;
        flex-direction: row;
        position: relative;
        @media(max-width: 1439px) and (min-width: 768px) {
          padding-bottom: 158px;
        }
        @media(max-width: 767px) {
          padding-bottom: 370px;
          flex-direction: column-reverse;
        }
      }
      &-info {
        padding: 0 30px;
        flex: 1 0;
        @media(max-width: 767px) {
          padding: 0;
        }
      }
      &-title {
        font-family: NeueMachinaBold;
        font-size: 2.76vw;
        line-height: 3.54vw;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: $white;
        margin: 25px 0 15px;
        @media(max-width: 767px) {
          font-size: 32px;
          line-height: 31px;
          margin: 25px 10px 25px;
        }
      }
      &-img {
        flex-basis: 23.08vw;
        max-width: 23.08vw;
        flex: 1 0;
        @media(max-width: 1439px) and (min-width: 768px) {
          flex-basis: 0;
          max-width: none;
        }
        @media(max-width: 767px) {
          flex-basis: 100%;
          max-width: 100%;
        }
        img {
          width: 100%;
          display: block;
        }
      }
      &-current {
        @media(max-width: 1439px) {
          display: none;
        }
        &-heading {
          font-family: NeueMachinaBold;
          font-size: 16px;
          line-height: 16px;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          color: $primary;
          margin-bottom: 12px;
        }
        &-eth {
          font-family: NeueMachinaBold;
          font-size: 34px;
          line-height: 33px;
          letter-spacing: -0.05em;
          text-transform: uppercase;
          color: $primary;
          margin-bottom: 12px;
        }
        &-usd {
          font-family: NeueMachina;
          font-size: 24px;
          line-height: 23px;
          letter-spacing: -0.05em;
          color: $white;
          opacity: 0.5;
        }
      }
      &-footer {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top: 0.83vw;
        @media(max-width: 1439px) and (min-width: 768px) {
          margin-bottom: 0;
          margin-top: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 30px 2.5vw;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -30px;
            right: -30px;
            border-top: 1px solid $border;
          }
        }
        @media(max-width: 767px) {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          flex-direction: column-reverse;
          align-items: center;
          margin-bottom: 40px;
        }
        &-heading {
          font-family: NeueMachinaBold;
          font-size: 16px;
          line-height: 16px;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          color: $primary;
          margin-bottom: 24px;
          @media(max-width: 767px) {
            font-size: 10px;
            line-height: 10px;
            margin-bottom: 12px;
            text-align: center;
          }
        }
        &-action {
          position: relative;
          margin-bottom: 8px;
          &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            border-right: 1px solid $border;
            @media(max-width: 1439px) {
              display: none;
            }
          }
          @media(max-width: 1439px) and (min-width: 768px) {
            flex: 1 0;
            margin-bottom: 0;
          }
          @media(max-width: 767px) {
            text-align: center;
          }
        }
        &-last {
          padding-left: 48px;
          &--mobile {
            display: none;
          }
          @media(max-width: 1439px) and (min-width: 768px) {
            padding-left: 0;
            flex: 1 0;
          }
          @media(max-width: 767px) {
            padding: 0;
            &--desktop {
              display: none;
            }
            &--mobile {
              display: block;
            }
          }
        }
        &-bid {
          margin-bottom: 8px;
          @media(max-width: 767px) {
            margin-bottom: 35px;
          }
          &-eth {
            font-family: NeueMachinaBold;
            font-size: 26px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.05em;
            color: $primary;
            margin-bottom: 10px;
          }
          &-usd {
            font-family: NeueMachinaUltraLight;
            font-size: 16px;
            line-height: 15px;
            text-align: center;
            letter-spacing: -0.05em;
            color: $white;
            opacity: 0.5;
            margin-bottom: 20px;
          }
          &-avatar {
            width: 44px;
            height: 44px;
            display: block;
            margin: 0 auto 30px;
            position: relative;
            &:before {
              content: '';
              position: absolute;
              right: 58px;
              top: 22px;
              width: 32vw;
              border-bottom: 1px solid $border;
            }
            &:after {
              content: '';
              position: absolute;
              left: 58px;
              top: 22px;
              width: 32vw;
              border-bottom: 1px solid $border;
            }
            img {
              display: block;
              width: 100%;
            }
          }
          &-hash {
            font-family: NeueMachinaUltraLight;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            letter-spacing: -0.05em;
            color: $white;
            margin-bottom: 8px;
          }
          &-date {
            font-family: NeueMachinaUltraLight;
            font-size: 10px;
            line-height: 10px;
            letter-spacing: -0.05em;
            color: $white;
            opacity: 0.4;
          }
        }
        &-btn {
          margin-right: 2.5vw;
          background-color: $primary;
          border-radius: 200px;
          color: $black;
          border: 1px solid $primary;
          padding: 1.04vw 2.08vw;
          font-family: NeueMachinaBold;
          font-size: 1.25vw;
          line-height: 1.25vw;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          cursor: pointer;
          @media(max-width: 1439px) {
            font-size: 24px;
            line-height: 24px;
            margin-right: 0;
            margin-bottom: 12px;
            padding: 10px 20px;
          }
          @media(max-width: 767px) {
            font-size: 14px;
            line-height: 14px;
            padding: 10px 30px;
          }
        }
        &-note {
          font-family: NeueMachinaUltraLight;
          font-size: 10px;
          line-height: 10px;
          letter-spacing: -0.05em;
          color: $white;
          opacity: 0.4;
          display: none;
          @media(max-width: 1439px) {
            display: block;
          }
          @media(max-width: 1439px) and (min-width: 768px) {
            position: absolute;
            top: -40px;
            left: 0;
            font-family: NeueMachinaBold;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: $primary;
            opacity: 1;
          }
        }
      }
      &-others {
        position: relative;
        padding: 30px 2.5vw;
        &--mobile {
          display: none;
        }
        @media(max-width: 767px) {
          padding: 0 15px;
          &--desktop {
            display: none;
          }
          &--mobile {
            display: block;
          }
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: -30px;
          right: -30px;
          border-top: 1px solid $border;
          @media(max-width: 767px) {
            display: none;
          }
        }
        &-heading {
          font-family: NeueMachinaBold;
          font-size: 34px;
          line-height: 68px;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          color: $white;
          margin-bottom: 30px;
          @media(max-width: 767px) {
            font-size: 10px;
            line-height: 10px;
            margin-bottom: 12px;
            text-align: left;
            color: $primary;
          }
        }
        &-list {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
        &-bid {
          flex-basis: 50%;
          max-width: 50%;
          margin-bottom: 25px;
          @media(max-width: 767px) {
            flex-basis: 100%;
            max-width: 100%;
            padding: 30px 0;
            margin-bottom: 0;
            border-top: 1px solid $border;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
          }
          &-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 8px;
            img {
              display: block;
              width: 100%;
            }
          }
          &-hash {
            font-family: NeueMachinaUltraLight;
            font-size: 16px;
            line-height: 15px;
            letter-spacing: -0.05em;
            color: $white;
            opacity: 0.5;
            text-decoration: none;
            margin-bottom: 8px;
            display: block;
          }
          &-date {
            font-family: NeueMachinaUltraLight;
            font-size: 10px;
            line-height: 10px;
            letter-spacing: -0.05em;
            color: $white;
            opacity: 0.4;
          }
          &-info {
            margin-right: auto;
          }
          &-price {
            text-align: right;
          }
          &-eth {
            font-family: NeueMachinaBold;
            font-size: 16px;
            line-height: 15px;
            letter-spacing: -0.05em;
            color: $white;
            margin-bottom: 4px;
          }
          &-usd {
            font-family: NeueMachinaUltraLight;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: -0.05em;
            color: $white;
            opacity: 0.4;
          }
        }
      }
    }
  }
}
