@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?636jq0');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?636jq0#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?636jq0') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?636jq0') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?636jq0##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diamond {
  &:before {
    content: $icon-diamond; 
  }
}
.icon-arrow-back {
  &:before {
    content: $icon-arrow-back; 
  }
}
.icon-arrow-bottom-right {
  &:before {
    content: $icon-arrow-bottom-right; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-top-right {
  &:before {
    content: $icon-arrow-top-right; 
  }
}
.icon-auction {
  &:before {
    content: $icon-auction; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-comment {
  &:before {
    content: $icon-comment; 
  }
}
.icon-done {
  &:before {
    content: $icon-done; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-explore {
  &:before {
    content: $icon-explore; 
  }
}
.icon-feed {
  &:before {
    content: $icon-feed; 
  }
}
.icon-grid {
  &:before {
    content: $icon-grid; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-label {
  &:before {
    content: $icon-label; 
  }
}
.icon-like {
  &:before {
    content: $icon-like; 
  }
}
.icon-more {
  &:before {
    content: $icon-more; 
  }
}
.icon-network {
  &:before {
    content: $icon-network; 
  }
}
.icon-open {
  &:before {
    content: $icon-open; 
  }
}
.icon-picture {
  &:before {
    content: $icon-picture; 
  }
}
.icon-post {
  &:before {
    content: $icon-post; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-unlimited {
  &:before {
    content: $icon-unlimited; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}

