$icomoon-font-family: "kulticon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-back: "\e900";
$icon-arrow-bottom-right: "\e901";
$icon-arrow-down: "\e902";
$icon-arrow-left: "\e903";
$icon-arrow-right: "\e904";
$icon-arrow-top-right: "\e905";
$icon-auction: "\e906";
$icon-clock: "\e907";
$icon-close: "\e908";
$icon-comment: "\e909";
$icon-diamond: "\e90a";
$icon-done: "\e90b";
$icon-edit: "\e90c";
$icon-explore: "\e90d";
$icon-feed: "\e90e";
$icon-grid: "\e90f";
$icon-instagram: "\e910";
$icon-label: "\e911";
$icon-like: "\e912";
$icon-more: "\e913";
$icon-network: "\e914";
$icon-open: "\e915";
$icon-picture: "\e916";
$icon-post: "\e917";
$icon-search: "\e918";
$icon-share: "\e919";
$icon-twitter: "\e91a";
$icon-unlimited: "\e91b";
$icon-youtube: "\e91c";

